<h2><%= @user.username %> </h2> has commented on the following posts:

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

#innocuous change so I can "learn submit" this lesson and move on.  No changes asked for
