<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <% @post.comments.each do |com| %>
    <%= link_to com.user.username, user_path(com.user) %> said
    <%= com.content %>
  <% end %>
